body {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: olive
}


.purple{
    color: #7b07ff;
}

.border {
    border: 3px solid greenyellow;
}
.bcolor{
    background-color: aqua;
}
#banner {
    width: 100%;
}
img.square {
    width: 400px;
    object-fit: cover;
    height:400px;
}

#toc {
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    display: table;
    padding: 1em;
}

#toc a {
    text-decoration: none;
}

.tocnumber {
    color: black;
}
.accordian {
    border: 1px solid black;
    position: relative;
    
}

.two {
    padding: 0.6rem;
    border: 1px solid red;
} 
.three {

    border: 1px solid green;
    visibility: hidden;
    display: none;
    
}
.threes {

    border: 1px solid green;
 
  
}

.margin{
    margin: 10px;
}

.fa-solid {
    height: 23px;
    width: 23px;
}
.icon {
    position: absolute;
    right: 10px;
    top: 22px;
   
} 

.icons {
       /* position: absolute;  */
     top: 12px;
    transform: rotate(180deg);

    right: 10px; 
   

}

.btn{
    border: none;
    background-color: transparent;

    height: 23px;
    width: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    position: relative;
}