button {
    background-color: violet;
color: white;
padding: 0px 30px;
border: 1px solid;
border-radius: 13px; 

}

button:hover .text {
  transform: translateX(-20px);  
}

button:hover {
    background-color: rgb(19, 73, 73);
}